<div
  id="item-container"
  class="layout-container bg-gray-200"
  data-node-id={{ node.id }}
  data-controller="mirador"
>
  <div class="p-4">
    <div class="container mx-auto bg-white shadow">
      <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-xl font-bold leading-6 line-clamp-1">
          {{ node.title.value }} {{ service_file_url }}
        </h3>
        {{ intermediate_file_url }}
      </div>
      <div class="px-4 py-5 sm:p-6 h-auto">
        <div class="flex flex-col lg:flex-row">
          <div class="w-full lg:w-2/3">
            <div id="item-description" data-item-uuid={{ node.uuid.value }}></div>
          </div>
          <div class="flex flex-col w-full lg:w-1/3 space-y-4">
            <button class="flex items-center place-content-center p-4 bg-blue-spirit hover:bg-gray-200 hover:shadow-xl text-black w-full"
              data-controller="media-downloads-modal"
              data-action="click->media-downloads-modal#openModal"
            >Download Media</button>
            <button class="flex items-center place-content-center p-4 bg-blue-spirit hover:bg-gray-200 hover:shadow-xl text-black w-full">Export Metadata</button>
            <button
              class="flex items-center place-content-center p-4 bg-blue-spirit hover:bg-gray-200 hover:shadow-xl text-black w-full"
              data-controller="page-modal"
              data-action="click->page-modal#openModal"
            >
              Ask the Collection Admin
            </button>
          </div>
        </div>
        <hr class="my-6" />
        {{ node.description.value }}
        {{ page.content.idcui_page_title }}
        <div id="pdf-viewer" class="w-full" data-item-uuid={{ node.uuid.value }}></div>
        <div id="mirador-container"></div>
        <div id="seadragon-container" class="hidden p-4 my-4">
          {{ page.content.openseadragon_block }}
        </div>
        {{ page.content.idcui_content }}
        {{ page.content.system_main }}
      </div>
    </div>
  </div>
</div>

<div
  id="media-downloads-modal-container"
  class="hidden fixed z-50 inset-0 overflow-y-auto bg-gray-500 bg-opacity-90"
  data-controller="media-downloads-modal"
  data-action="click->media-downloads-modal#closeIfOutside"
  data-transition-enter="transition ease-out duration-300"
  data-transition-enter-start="transform opacity-0"
  data-transition-enter-end="transform opacity-100"
  data-transition-leave="transition ease-in duration-200"
  data-transition-leave-start="transform opacity-100"
  data-transition-leave-end="transform opacity-0"
>
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20">
    <div
      id="media-downloads-modal-body"
      class="flex flex-col bg-white"
    >
      <div class="flex modal-header border-b justify-between items-center px-5 py-3">
        <div class="text-xl font-bold">Media Downloads</div>
        <div class="flex justify-end">
          <button
            id="media-downloads-modal-exit-button"
            class="text-4xl px-2"
            data-action="click->media-downloads-modal#closeModal"
          >
            &times;
          </button>
        </div>
      </div>
      <div class="flex flex-col modal-content px-5 pb-4">
        {% for media in media_links %}
          <div class="border-b py-4 last:border-b-0">
            <a href={{media.url}} download={{media.file_name}}>{{media.file_name}} &nbsp;&nbsp;|&nbsp;&nbsp; {{media.media_type}} &nbsp;&nbsp;|&nbsp;&nbsp; {{media.media_use}}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
